# Node
node_modules/
npm-debug.log
yarn-error.log

# Build output
dist/
build/

# Environment variables
.env
.env.*

# IDE
.vscode/
.idea/
*.sublime-*

# OS
.DS_Store
Thumbs.db

# Logs
logs/
*.log

# Testing
coverage/

# Misc
.tmp/
.temp/
